# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=False

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/fridge_bot

# Redis
REDIS_URL=redis://localhost:6379/0

# Logging
LOG_LEVEL=INFO

# postgres
POSTGRES_USER=you_postgres_user
POSTGRES_PASSWORD=your_postgres_pass
POSTGRES_DB=fridge_bot
